<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877116585289-f66d3lm7frg521hhm8jt22ah1o4cd4rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877116585289-f66d3lm7frg521hhm8jt22ah1o4cd4rv</string>
	<key>API_KEY</key>
	<string>AIzaSyB2Tn4eKxFWbJy4SgKhHD-R7832oLs63qs</string>
	<key>GCM_SENDER_ID</key>
	<string>877116585289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kr1s.CarbonCredit</string>
	<key>PROJECT_ID</key>
	<string>carboncredit-a8d62</string>
	<key>STORAGE_BUCKET</key>
	<string>carboncredit-a8d62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877116585289:ios:bdb106bf25166983e3d698</string>
</dict>
</plist>